<% answers = @question.answers %>
<% user_answer = @question.answer_for_user(current_user)  %>
<% has_other_answers = answers.count > 1 || (answers.count == 1 && user_answer == nil) %>

<div class="question-container">

  <div class="showcase-wrapper question">
    <div class="showcase-content container">
      <h4 class="question-label">Question:</h4>
      <h3 class="question-text"><%= @question.content %></h3>
      <div class="question-added">Asked <%= time_ago_in_words(@question.created_at) %> ago</div>
    </div>
  </div>


  <div class="myanswer showcase-wrapper light">
    <div class="showcase-content container">
      <% if user_answer != nil %>
        <div class="myanswer-view">
          <div class="myanswer-label input-label">You Answered:</div>
          <div class="myanswer-text heading"><%= user_answer.content %></div>
        </div>

        <ul class="myanswer-options line">
          <li class="edit-myanswer"><a href="#">Edit</a></li>
          <li class="divider"></li>
          <li class='delete-myanswer'><a href="#">Delete</a></li>
          <li class="myanswer-edited">Last edited <%= time_ago_in_words(user_answer.updated_at) %></li>
        </ul>
      <% else %>
        <div class="myanswer-edit">
          <div class="myanswer-label input-label">Your Answer:</div>
          <div class="clearfix">
            <textarea cols="50" rows="2" class="myanswer-text form-control" placeholder="Type in your answer"></textarea>
            <button class="btn submit-btn btn-primary">Submit</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="questionAnswers" class="container list">
    <% if has_other_answers %>
      <input type="search" placeholder="Search Person" class="form-control search">
      <ul class="list">
        <% for answer in answers %>
          <% next if answer.user == current_user %>
          <li class="question-answer">
            <span class="answer-user"><%= answer.user.name %>: </span>
            <span class="answer-content"><%= answer.content %></span>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No one else have answered this question yet! Come back later!</p>
    <% end %>
  </div>

</div>
