<% answers = @question.answers %>
<% user_answer = current_user.answer_for_question(@question)  %>
<% has_other_answers = answers.count > 1 || (answers.count == 1 && user_answer == nil) %>
<% form_path = user_answer ? question_answer_path(@question, user_answer) : question_answers_path(@question) %>
<% form_method = user_answer ? :patch : :post %>

<% content_for :site_page_title, @question.content %>

<% content_for :dashboard_content do %>

<div class="question-container">

  <div class="showcase-wrapper question">
    <div class="showcase-content container">
      <h4 class="question-label">Question:</h4>
      <h3 class="question-text"><%= @question.content %></h3>
      <div class="question-added">Asked <%= time_ago_in_words(@question.created_at) %> ago</div>
    </div>
  </div>


  <div class="myanswer showcase-wrapper light">
    <div class="showcase-content container">
      <% if user_answer != nil %>
        <div class="myanswer-view">
          <div class="myanswer-label input-label">You Answered:</div>
          <div class="myanswer-text heading"><%= user_answer.content %></div>

          <ul class="myanswer-options line">
            <li class="edit-myanswer"><a href="#">Edit</a></li>
            <li class="divider"></li>
            <li class='delete-myanswer'>
              <%= link_to "Delete", question_answer_path(@question, user_answer),
                                                         confirm: "Are you sure you want to delete your answer?",
                                                         method: :delete %>
            </li>
            <li class="myanswer-edited">Last edited <%= time_ago_in_words(user_answer.updated_at) %></li>
          </ul>
        </div>
      <% end %>

      <div class="myanswer-edit <% if user_answer != nil %>hidden<% end %>">
        <div class="myanswer-label input-label">Your Answer:</div>
        <%= simple_form_for Answer.new, url: form_path, method: form_method do |f| %>
          <div class="clearfix">
            <textarea cols="50" rows="2" class="myanswer-text form-control" placeholder="Type in your answer" name="answer[content]"></textarea>
            <button class="btn submit-btn btn-primary">Submit</button>
          </div>
        <% end %>
      </div>

    </div>
  </div>

  <div id="questionAnswers" class="container list">
    <% if has_other_answers %>
      <input type="search" placeholder="Search Person" class="form-control search">
      <ul class="list">
        <% for answer in answers %>
          <% next if answer.user == current_user %>
          <li class="question-answer">
            <span class="answer-user"><% if answer.user %><%= answer.user.name %><% else %>Anonymous<% end %>: </span>
            <span class="answer-content"><%= answer.content %></span>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No one else have answered this question yet! Come back later!</p>
    <% end %>
  </div>

</div>

<% end %>
