<% content_for :site_page_title, 'Change Your Password' %>

<% content_for :content do %>

<div class="login">
  <h1 class="logo">Little Button</h1>

  <%= simple_form_for resource, :as => resource_name,
                      :url => password_path(resource_name),
                      :html => { :method => :put },
                      :defaults => { :input_html => { :class => 'form-control' } } do |f| %>
    <%= devise_error_messages! %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, :as => :hidden %>
    <%= f.full_error :reset_password_token %>

    <%= f.input :password, :placeholder => "New Password",
                :required => true, :autofocus => true, label: false %>
    <%= f.input :password_confirmation, :placeholder => "Confirm New Password",
                :required => true, label: false %>

    <%= f.button :submit, 'Change Password', class: 'btn btn-default' %>
  <% end %>
</div>

<% end %>
