<% content_for :site_page_title, 'Sign in' %>

<% content_for :content do %>

<div class="login">
  <h1 class="logo">Loose Button</h1>

  <%= simple_form_for resource, :as => resource_name,
                      :url => password_path(resource_name),
                      :html => { :method => :post },
                      :defaults => { :input_html => { :class => 'form-control' } } do |f| %>
    <%= devise_error_messages! %>
    <%= f.input :email, placeholder: 'Company Email', :required => true, :autofocus => true, label: false %>
    <%= f.button :submit, 'Send Reset Password Email', class: 'btn btn-default' %>
  <% end %>

  <div class="login-related-links">
    <%= link_to "Sign in", new_session_path(resource_name), class: 'signin-link' %>
  </div>
</div>

<% end %>
