<div class="question-row question-{{id}}" data-question-id="{{id}}">
  <div class="question-content"><a href="/questions/{{id}}">{{content}}</a></div>
  <div class="question-details">
    <div class="answered">{{#if answered}}answered{{else}}unanswered{{/if}}</div>
    <div class="total-answered-p">{{answered_p}}% Answered</div>
    <div class="last-answer-time">Last answered {{lastest_answered_h}}</div>
    <div class="added-time">Added {{added_h}}</div>
  </div>
</div>
