<% content_for :content do %>

  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="<%= root_path %>">
          <span class="span main-brand heading">Little Button</span>
          <span class="sub-brand heading">for Draken Solutions</span>
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle clearfix" data-toggle="dropdown">
            <img src="https://dl.dropboxusercontent.com/u/176278/ruby_identicon.png" class="gravatar">
            <div class="user-name">Draco <b class="caret"></b></div>
          </a>
          <ul class="dropdown-menu">
            <li><a href="<%= questions_path %>">Add Question</a></li>
            <li class="divider"></li>
            <li><a href="<%= settings_path %>">My Settings</a></li>
            <li><a href="<%= settings_admin_path %>">Admin Settings</a></li>
            <li class="divider"></li>
            <li><%= link_to 'Log Out', destroy_user_session_path, :method => :delete %></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="global-alerts"><%= bootstrap_flash %></div>

  <%= yield :dashboard_content %>

  <%= render 'shared/footer' %>

<% end %>

<%= render template: "layouts/application" %>
